// base
@import "mixin/position-abs";
@import "mixin/bg";
@import "mixin/hide-text";

// reset

body{margin:0; padding:0; font-size:11px; line-height:1;}

button{ outline:0; background:none; border:0; cursor:pointer; }

img{ border:0; }

ul, ol{ list-style:none; }

table{ border-spacing:0; }

caption{ height:0; overflow:hidden; font-size:0; }

a{ color:#fff; }

a:hover{ color:#ddd; }

.complete{
  background-position-y: 50% !important;
  cursor: not-allowed !important;
  &:before{
    background-position-y: 50% !important;
  }
}

.disabled{
  background-position-y: 100% !important;
  cursor: not-allowed !important;
  &:before{
    background-position-y: 100% !important;
  }
}

