@import "../scss/common.scss";

html, body{
  background: #ffffff;
  overflow-x: hidden;
}

#container {
  strong {
    font-size:0;
  }
  table {
    font-size:0;
  }
}

//.ctn-container{
//  max-width: 1140px;
//  outline: 1px solid red;
//}

@keyframes spin {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

//.section0{
//  height: 1000px;
//  outline: 1px solid red;
//  background-color: red;
//  position:fixed;
//  top:0;
//  margin:0;
//  z-index: 100;
//}

.section1{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position:relative;
  background-image: url("https://static.toss.im/assets/homepage/newtossim/new_main.png");
  &__title{
    font-size: 66px;
    margin-top: 262px;
    color: rgb(25, 31, 40);
    display: inline-block;
    white-space: nowrap;
    line-height: 1.3;
    @media screen and (max-width:640px){
      font-size: 33px;
      font-weight: 700;
      line-height: 1.4;
      color: rgb(25, 31, 40);
    }
  }
  &__apple{
    background-color: #4e5968;
    position: absolute;
    bottom: 50%;
    right: 50%;
    width: 155px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: -55px
  }
  &__galaxy{
    background-color: #4e5968;
    position: absolute;
    bottom: 50%;
    right: 50%;
    width: 155px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: -155px;
    margin-bottom: -55px
  }
  &__scroll{
    @include position-abs($width: 54px, $height: 53px, $left: 50%, $top: 50%);
    margin-left: -27px;
    margin-top: 394px;
    overflow: visible;
    animation: spin 2s infinite;
    z-index:3;
  }
}

.section2{
  &__bg{
    background-color: #f9fafb;
    height: 600px;
    margin:0;
  }
  &__title{
    font-size: 30px;
    line-height: 1.5;
    padding-top: 230px;
    margin:0;
    color: rgb(25, 31, 40);
  }
}

.section3{
  height: 1700px;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__ctn-container{
    position:relative;
    width: 1140px;
    height: 100%;

    &--img{
      &-right{
        &-frame{
          @include position-abs($width: 614px, $height: 1000px, $top: 108px, $right: -110px);
          background-image: url("https://static.toss.im/screens/iPhone12_Clay_Shadow.png");
          background-size: 614px 1000px;
          z-index: 10;
        }
        &-ctn{
          @include position-abs($width: 368px, $height: 789px, $top: 218px, $right:4px);
          background-size: 368px 789px;
          background-image: url(" https://static.toss.im/assets/homepage/newtossim/section1_1_home_01.png");
        }
      }
      &-left{
        &-frame{
          @include position-abs($width: 614px, $height: 1000px, $bottom: 200px, $left: -111px);
          background-image: url("https://static.toss.im/screens/iPhone12_Clay_Shadow.png");
          background-size: 614px 1000px;
          z-index: 10;
        }
        &-ctn{
          @include position-abs($width: 368px, $height: 789px, $bottom: 301px, $left: 10px);
          background-size: 368px 789px;
          background-image: url("https://static.toss.im/assets/homepage/newtossim/section1_1_home_02.png");
        }
      }
    }
    &--text{
      position:relative;
      &-left{
        &-1{
          font-size:26px;
          color: #3182f6;
          position:absolute;
          top: 150px;
          white-space: nowrap;
        }
        &-2{
          margin-top:210px;
          white-space: nowrap;
          text-align: left;
          font-size: 43px;
          line-height: 1.6;
        }
      }
      &-right{
        &-1{
          display: inline-block;
          white-space: nowrap;
          margin-top: 760px;
          margin-right: -673px;
          font-size: 23px;
          line-height: 1.5;
          text-align: left;
        }
      }
    }
  }
}

.section4{
  background-color: #f9fafb;
  height: 2000px;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__ctn-container {
    position: relative;
    width: 1140px;
    height: 100%;
  }

  &__title {
    &--1{
      font-size:26px;
      color: #3182f6;
      position:absolute;
      top: 150px;
      white-space: nowrap;
    }
    &--2{
      margin-top:210px;
      white-space: nowrap;
      text-align: left;
      font-size: 43px;
      line-height: 1.6;
    }
  }

  &__ctn{
    &--1{
      padding-left: 150px;
      padding-top: 150px;
      position: relative;
      &-text{
        &-1{
          color: #3182f6;
          text-align: left;
          position: relative;
        }
        &-2{
          display: inline-block;
          font-size: 30px;
          text-align: left;
          font-weight: bolder;
          top: 15px;
          left: -408px;
          position: relative;
          line-height: 1.7;
          color: #333d4b;
        }
        &-3{
          left: -70px;
          text-align: left;
          color: #6b7684;
          line-height: 1.6;
          font-size: 19px;
          position: relative;
        }
      }
      &-img{
        @include position-abs($width: 450px, $height: 350px, $top: 80px, $right: 70px);
        background-size: cover;
      }
    }
    &--2{
      padding-left: 150px;
      padding-top: 150px;
      position: relative;
      &-img{
        @include position-abs($width: 450px, $height: 350px, $top: 150px, $left: 70px);
        background-size: cover;
      }
      &-text{
        &-1{
          top: -5px;
          font-size: 17px;
          font-weight: bolder;
          color: #3182f6;
          text-align: left;
          position: relative;
        }
        &-2{
          display: inline-block;
          font-size: 30px;
          text-align: left;
          font-weight: bolder;
          top: 15px;
          left: 377px;
          position: relative;
          line-height: 1.7;
          color: #333d4b;
        }
        &-3{
          display: inline-block;
          right: 16px;
          top: 111px;
          text-align: left;
          color: #6b7684;
          line-height: 1.6;
          font-size: 19px;
          position: relative;
          font-weight: bolder;
        }
      }
    }
    &--3{
      position: relative;
      &-text{
        &-1{
          top: 283px;
          left: -358px;
          font-size: 17px;
          font-weight: bolder;
          color: #3182f6;
          text-align: left;
          position: relative;
        }
        &-2{
          display: inline-block;
          font-size: 30px;
          text-align: left;
          font-weight: bolder;
          top: 295px;
          left: -94px;
          position: relative;
          line-height: 1.7;
          color: #333d4b;
        }
        &-3{
          display: inline-block;
          left: -351px;
          top: 358px;
          text-align: left;
          color: #6b7684;
          line-height: 1.6;
          font-size: 19px;
          position: relative;
          font-weight: bolder;
        }
      }
      &-img{
        @include position-abs($width: 450px, $height: 350px, $top: 230px, $right: 70px);
        background-size: cover;
      }
    }
  }


  }

.section5{
  height: 1300px;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__ctn-container {
    position: relative;
    width: 1140px;
    height: 100%;
  }
  &__section-name{
    font-size:26px;
    color: #3182f6;
    position:absolute;
    top: 150px;
    white-space: nowrap;
  }
  &__title{
    text-align: left;
    font-size: 40px;
    line-height: 70px;
    position: relative;
    top: 185px;
    left: 10px;
  }
  &__text{
    &--1{
      text-align: left;
      font-size: 40px;
      position: relative;
      left: 10px;
      top: 377px;
      line-height: 1.6;
    }
    &--2{
      text-align: left;
      font-size: 24px;
      font-weight: 500;
      position: relative;
      bottom: -383px;
      left: 10px;
      line-height: 1.3;
    }
  }
  &__phone{
    &--frame{
      @include position-abs($width: 641px, $height: 1000px, $top: 84px, $right: -117px);
      background-image: url("https://static.toss.im/screens/iPhone12_Clay_Shadow.png");
      background-size: 641px 1000px;
      z-index: 10;
    }
    &--ctn{
      @include position-abs($width: 368px, $height: 789px, $top: 178px, $right: 13px);
      background-size: 368px 789px;
      background-image: url("https://static.toss.im/assets/homepage/newtossim/section1_3_loan_03.png");
    }
  }
}

.section6{
  background-color: #f9fafb;
  height: 1500px;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__ctn-container {
    position: relative;
    width: 1140px;
    height: 100%;
  }
  &__section-name{
    left:0;
    font-size:26px;
    font-weight: bold;
    color: #3182f6;
    position:absolute;
    top: 200px;
    white-space: nowrap;
  }
  &__title{
    text-align: left;
    font-size: 47px;
    font-weight: 600;
    position: relative;
    top: 252px;
    line-height: 1.6;
  }
  &__row{
    &--1{
      display: flex;
      position: relative;
      top: 328px;
      left: 0px;
      &-1{
        width: 560px;
        position: relative;
        &-text{
          color: #8c959f;
          text-align: left;
          font-size: 22px;
          font-weight: 600;
          line-height: 1.5;
          top: -55px;
          position: relative;
        }
      }
      &-2{
        width: 560px;
        position: relative;
        &-text{
          color: #8c959f;
          text-align: left;
          font-size: 22px;
          font-weight: 600;
          line-height: 1.5;
          top: -55px;
          position: relative;
        }
      }
    }
    &--2{
      display: flex;
      position: relative;
      top: 328px;
      left: 0px;
      &-1{
        width: 560px;
        position: relative;
        &-text{
          color: #8c959f;
          text-align: left;
          font-size: 22px;
          font-weight: 600;
          line-height: 1.5;
          top: -55px;
          position: relative;
        }
      }
      &-2{
        width: 560px;
        position: relative;
        &-text{
          color: #8c959f;
          text-align: left;
          font-size: 22px;
          font-weight: 600;
          line-height: 1.5;
          top: -55px;
          position: relative;
        }
      }
    }
  }
}

.section7{
  height:1800px;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__ctn-container {
    position: relative;
    width: 1140px;
    height: 100%;
  }

  &__section-name{
    display: inline-block;
    font-size: 26px;
    color: #3182f6;
    position: relative;
    top: 200px;
    left: -544px;
    white-space: nowrap;
  }
  &__title{
    text-align: left;
    font-size: 40px;
    line-height: 70px;
    position: relative;
    top: 252px;
    left: 1px;
    font-weight: 600;
  }
  &__frame{
    position: absolute;
    top: 440px;
    right: 269px;
    width: 641px;
    height: 1000px;
    background-image: url(https://static.toss.im/screens/iPhone12_Clay_Shadow.png);
    background-size: 641px 1000px;
    z-index: 10;
  }
  &__ctn{
    position: absolute;
    top: 543px;
    right: 403px;
    width: 368px;
    height: 789px;
    background-size: 368px 789px;
    background-image: url("https://static.toss.im/assets/homepage/newtossim/section1_5_stock_01.png");
  }
  &__ctn-list{
    margin-top: 580px;
    margin-left: -461px;
  }
  &__text1{
    text-align: left;
    display: inline-block;
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    position: relative;
    left: -359px;
    top: 636px;
  }
  &__text2{
    text-align: left;
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    position: relative;
    right: -776px;
    top: 535px;
  }
  &__text3{
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    position: relative;
    bottom: -1072px;
    left: -7px;
  }
}

.section8{
  height: 799px;
  &__bg{
    width: 100vw;
    height: 800px;
    background-size: cover;
    background-image: url("https://static.toss.im/assets/homepage/newtossim/section2_4_big.jpg");
  }
  &__title{
    position: relative;
    top: -560px;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.3;
    color: #f9fafb;
    text-align: center;
  }
}

.section9{
  height:1900px;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  &__ctn-container {
    position: relative;
    width: 1140px;
    height: 100%;
  }
  &__title{
    text-align: left;
    font-size: 40px;
    line-height: 70px;
    position: relative;
    top: 252px;
    left: 1px;
    font-weight: 600;
  }
&__text{
  margin-top: 1200px;
  &--1{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #191f28;
    position: relative;
    top: -742px;
    left: -138px;
  }
  &--2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #b0b8c1;
    position: relative;
    top: -741px;
    left: -133px;
  }
  &--3{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: #333d4b;
    text-align: left;
    position: relative;
    top: -736px;
    left: 29px;
  }
}
}

.section10{
  height: 1300px;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  &__ctn-container {
    position: relative;
    width: 1140px;
    height: 100%;
    display: flex;
  }
  &__left{
    width: 55%;
    left: 30px;
    position: relative;
    &--text1{
      font-size: 40px;
      font-weight: 700;
      line-height: 1.3;
      color: #191f28;
      position: relative;
      top: 46px;
      left: -272px;
    }
    &--text2{
      font-size: 40px;
      font-weight: 700;
      line-height: 1.3;
      color: #b0b8c1;
      position: absolute;
      top: 885px;
      left: 0px;
      text-align: left;
    }
  }
  &__right{
    width: 36%;
    position: relative;
    right: -74px;
    &--text{
      font-size: 20px;
      font-weight: 600;
      line-height: 1.5;
      color: #333d4b;
      top: 706px;
      left: 0;
      width: 400px;
      text-align: left;
      position: absolute;
    }
  }
}

.section11{
  height: 1100px;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  &__ctn-container {
    position: relative;
    width: 1140px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__text{
    &--1{
      font-size: 40px;
      font-weight: 700;
      line-height: 1.3;
      color: #191f28;
      margin-bottom: 5px;
      position: relative;
      top: 50px;
      left: -139px;
    }
    &--2{
      font-size: 40px;
      font-weight: 700;
      line-height: 1.3;
      color: #b0b8c1;
      position: relative;
      left: -465px;
      top: 106px;
    }
    &--3{
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
      color: #333d4b;
      text-align: left;
      right: -546px;
      top: -26px;
      position: relative;
    }
  }

}

.section12{
  background-color: #f9fafb;
  height: 1300px;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__ctn-container {
    position: relative;
    width: 1140px;
    height: 100%;
  }
  &__section-name{
    left:0;
    font-size:26px;
    font-weight: bold;
    color: #3182f6;
    position:absolute;
    top: 200px;
    white-space: nowrap;
  }
  &__title{
    text-align: left;
    font-size: 47px;
    font-weight: 600;
    position: relative;
    top: 252px;
    line-height: 1.6;
  }
  &__row{
    &--1{
      display: flex;
      position: relative;
      top: 328px;
      left: 0px;
      &-1{
        width: 560px;
        position: relative;
        &-text{
          color: #8c959f;
          text-align: left;
          font-size: 18px;
          font-weight: 600;
          line-height: 1.5;
          top: -26px;
          position: relative;
        }
      }
      &-2{
        width: 560px;
        position: relative;
        &-text{
          color: #8c959f;
          text-align: left;
          font-size: 18px;
          font-weight: 600;
          line-height: 1.5;
          top: -26px;
          position: relative;
        }
      }
    }
    &--2{
      display: flex;
      position: relative;
      top: 328px;
      left: 0px;
      &-1{
        width: 560px;
        position: relative;
        &-text{
          color: #8c959f;
          text-align: left;
          font-size: 18px;
          font-weight: 600;
          line-height: 1.5;
          top: -26px;
          position: relative;
        }
      }
      &-2{
        width: 560px;
        position: relative;
        &-text{
          color: #8c959f;
          text-align: left;
          font-size: 18px;
          font-weight: 600;
          line-height: 1.5;
          top: -26px;
          position: relative;
        }
      }
    }
  }
}

.section13{
  height: 1200px;
  width: 100vw;
  background: url("https://static.toss.im/assets/homepage/newtossim/section4_device.jpg") ;
  background-size: cover;
}

.section14{
  height: 900px;
  background-color: black;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__ctn-container {
    position: relative;
    width: 1140px;
    height: 100%;
  }
  &__title{
    &--main{
      font-size: 60px;
      font-weight: 700;
      line-height: 1.4;
      color: #fff;
      text-align: center;
    }
    &--sub{
      font-size: 30px;
      font-weight: 700;
      line-height: 1.4;
      color: #b0b8c1;
      position: relative;
      text-align: center;
      top: 47px;
    }
  }

  ul{
    position: relative;
    list-style: none;
    top: 198px;
    display: flex;
    justify-content: space-evenly;
    li{
      display:inline-block ;
      margin-left: -32px;
      span{
        text-align: left;
        margin-bottom: 12px;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.3;
        color: #fff;
      }
      p{
        text-align: left;
        max-width: 300px;
        margin-bottom: 38px;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.6;
        color: #b0b8c1;
      }
      button{
        background-color: #3182f6;;
        padding:10px;
        border-radius: 10px;
        color:#ffffff;
        font-weight: 600;
        font-size: 17px;
      }
      button:hover{
        background-color: #1b64da;
      }
    }
  }
}

.section15{
  height: 850px;
  background-color: #191f28;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__ctn-container {
    position: relative;
    width: 1140px;
    height: 100%;
  }

  &__list{
    display: flex;
    li{
      text-align: left;
      width: 25%;
      top: 50px;
      right: 40px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: flex-start;
      &:nth-child(4){
        width: 40%;
        color: #6b7684;
        font-size: 13px;
        font-weight: 500;
        line-height: 2;
      }
    }
    a{
      align-items: flex-start;
      color: #6b7684;
      text-decoration: none;
      font-size: 13px;
      font-weight: 500;
      line-height: 2;
    }
    a:hover{
      text-decoration: underline;
    }
  }

  &__bottom-inform{
    display: flex;
    flex-direction: column;
    margin-top:150px;

    span {
      text-align:left;
    }
    p{
      text-align: left;
    }

    ul{
      display: flex;
      li{
        text-align: left;
        width: 20%;
        margin-left: -39px;
        font-size: 12px;
        font-weight: 500;
        a{
          color: #6b7684;
          text-decoration: none;
          line-height: 1.5;
        }
        a:hover{
          text-decoration: underline;
        }
        &:nth-child(1){
        }
        &:nth-child(2){
          margin-left: -77px;
        }
        &:nth-child(3){
          margin-left: -17px;
        }
        &:nth-child(4){
          margin-left: 5px;
        }

      }
    }
  }
  &__address{
    color: #6b7684;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.6;
  }
}

